*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    background-color: #e47e2c;
    background-image: linear-gradient(62deg, #e47e2c 0%, #F7CE68 100%);
    min-height: 100vh;

}

.nav-container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80px;
    background-color: #9f610f74;

}

.logo{
    display: flex;
    width: 70px;
    height: 70px;
    padding: 0 10px;
}

.menu-container
{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu-container li
{
    margin: 0 10px
}

.menu-container li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.8s linear 0.2s;
}

.menu-container li a:hover
{
    color: #352f18;
}

